@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
}

#root {
  @apply flex h-screen;
}
main {
  @apply flex-1;
}

/* Modal */
.modal--bg {
  @apply opacity-0;
  @apply fixed left-0 top-0;
  @apply size-full;
  @apply flex justify-center items-center;
  @apply bg-base-black/10 backdrop-blur;
  @apply duration-300;
}
.modal--bg.active {
  @apply opacity-100;
}
.modal {
  @apply max-w-[500px] w-full p-4;
  @apply bg-white rounded-xl;
}

@media (max-width: 500px) {
  #root {
    @apply flex-col;
  }
}
