.section {
  @apply mb-4;
  @apply relative;
}
.section h3 {
  @apply mb-2;
  @apply text-2xl font-bold;
}

.slider {
  @apply w-full;
}

.slider .slide {
  @apply w-auto;
}

.navigation {
  @apply flex items-center gap-2;
  @apply absolute top-1 right-1;
}
.navigation .prev,
.navigation .next {
  @apply border-[1px] border-brand-dark;
  @apply text-brand-dark;
}

.pagination {
  @apply hidden;
  @apply w-full py-2;
  @apply items-center justify-center;
}
.bullet {
  @apply inline-block;
  @apply size-2 mx-0.5;
  @apply bg-brand-default/10 rounded-full;
}
.bullet.active {
  @apply bg-brand-default;
}
.progress {
  @apply absolute right-4 bottom-4 z-10;
  @apply size-12;
  @apply hidden items-center justify-center;
}
.progress svg {
  --progress: 0;
  stroke-dashoffset: calc(8rem * (1 - var(--progress)));
  stroke-dasharray: 8rem;
  @apply absolute left-0 top-0 z-10;
  @apply size-full;
  @apply fill-none stroke-[5px] stroke-brand-default;
  @apply -rotate-90;
}

@media (max-width: 600px) {
  .navigation {
    @apply hidden;
  }
  .pagination {
    @apply flex;
  }
  .progress {
    @apply flex;
  }
}

/* className 생성 */
.saramin,
.blog,
.github {
}
